body{
font-family: Arial;
background:#f2f2f2;
}

.container{
width:60%;
margin:auto;
background:white;
padding:20px;
margin-top:30px;
border-radius:10px;
}

h2{
text-align:center;
color:blue;
}

input{
width:100%;
padding:10px;
margin:5px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
background:blue;
color:white;
border:none;
margin-top:5px;
cursor:pointer;
}

.hidden{
display:none;
}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
}

th{
background:blue;
color:green;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}